body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e8e8e8;
}

@font-face {
  font-family: 'NunitoSans-Regular';
  src: local('NunitoSans-Regular'), url(./fonts/NunitoSans-Regular.ttf) format('opentype');
}

.heading-underline:after {
	content: '';
	position: absolute;
	width: 90px;
	height: 2px;
	left: 0;
	bottom: 0;
	background-color: #4C3F91;
}

.heading-underline.pink:after {
	background-color: #FF5677;
}